envs/*.env
!envs/*.env.example
*.env.local
stack/docmost/.env 

*.log
logs/
tmp/
*.tmp

.docker/
docker-compose.override.yml

.DS_Store
Thumbs.db
*.swp
*.swo

.idea/
.vscode/
stack/docmost/monitoring/alertmanager/alertmanager.yml
k3s_docmost/secrets
k3s_docmost/monitoring/alertmanager-config-secret.yml
helm_docmost/values.yaml
.env
.vagrant